
.poster-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
}

.poster-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.poster-grid img:hover {
    transform: scale(1.05);
}

.music-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.music-player button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.music-player button:hover {
    background-color: #e0e0e0;
}


.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.character-card {
    background-color: #b3d9ff;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 3px solid #66b3ff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.character-card:hover {
    transform: scale(1.05);
}

.character-card img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #4da6ff;
}

.character-card h3 {
    margin-top: 10px;
    color: #004080;
    font-size: 1.5em;
}

.character-card p {
    color: #004080;
    font-weight: bold;
    font-size: 1em;
    background-color: #ccdef2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Default view - 4 columns */
@media (min-width: 1025px) {
    .character-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .poster-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Tablet view - 2 columns */
@media (max-width: 1024px) {
    .character-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .poster-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile view - 1 column */
@media (max-width: 600px) {
    .character-grid {
        grid-template-columns: 1fr;
    }

    .poster-grid {
        grid-template-columns: 1fr;
    }
}
